@charset "utf-8";
/* CSS Document */
/*960px 12-Column Spans Stylesheet*/
* {
  box-sizing: border-box;
}

body { 
    background-color: #786880;
    height: 100%;
}

#page {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #786880;
}


header {
    width: auto;
    height: auto;
    margin-bottom: 0;align-self:auto;
	
}

header img {
	height: 200px;
	width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


img {
    height: 100%;
    width: 100%;
}

nav {
    margin-top: -20px;
    height: auto;
    width: auto;
    background-color: #786880;
}


 
p {
    padding: 5px;
    font-family: "Myriad Pro", Helvetica, Arial, "sans-serif";
    font-size: 15px;
    margin-left:15px;
}

.menu {
    text-align: center;
    height:auto;
}

.menu ul {
    background-color: #46354E;
    width: auto;
    font-family: "Myriad Pro", Helvetica, Arial, "sans-serif";
}

.menu li {
    padding-left: 15px;
    padding-right: 15px;
    display: inline-flex;
    margin: 4px;
    font-size: 15px;
}

.menu a {
    margin: auto;
    padding: 4px;
    background-color: #46354E;
    color: ghostwhite;
    text-decoration: none;
}

.menu a:hover {
    background-color: #241C29;
}

h1 {
    font-size: 35px;
    margin-left: 5px;
    font-family: "Myriad Pro", Helvetica, Arial, "sans-serif";
}

h2 {
    margin-left: 20px;
    font-size: 25px;
    font-family: "Myriad Pro", Helvetica, Arial, "sans-serif";
}

h3 { margin-left: 15px;
    font-size: 20px;
    font-family: "Myriad Pro", Helvetica, Arial, "sans-serif";
}


h4 {   
    font-size: 15px;
    margin-left: 5px;
    font-family: "Myriad Pro", Helvetica, Arial, "sans-serif";
}

h5 {   
    font-size: 12px;
    margin-left: 5px;
    font-family: "Myriad Pro", Helvetica, Arial, "sans-serif";
}

a {
    text-decoration-color: aliceblue;
    color: aliceblue;
}

.icon {
    width: 100px;
    height: 100px;
    margin-left:15px;
}

/* grid css */

.col-1 {width: 8.33%;}

.col-2 {width: 16.66%;}

.col-3 {width: 25%;}

.col-4 {width: 33.33%;}

.col-5 {width: 41.66%;}

.col-6 {width: 50%;}

.col-7 {width: 58.33%;}

.col-8 {width: 66.66%;}

.col-9 {width: 75%;}

.col-10 {width: 83.33%;}

.col-11 {width: 91.66%;}

.col-12 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 15px;
}

/*grid end*/
/*gallery css*/

.gallery {
    margin: 10px 40px;
}

.gallery img {
    width: 200px;
    height: 200px;
    transitio: 1s;
    padding: 5px;
}

.gallery img:hover{
    filter: drop-shadow(4px 4px 6px gray);
    transform: scale(1.1);
}
/*gallery end*/



footer {
    height: auto;
    font-size: 10px;
    background-color: #241C29;
    display: flex;
    clear: both;
    color: ghostwhite;
}

footer a {
    margin: auto;
    padding: 4px;
    background-color: ghostwhite;
    color: ghostwhite;
    text-decoration: none;
}

footer a:hover {
    background-color: white;
}



.clear{
    clear:both;
}

/*mobile view */

@media (min-width: 312px){
	
	body {
		max-width: 412px;
	}
	

	h1 {
		font-size: 40px;
		margin-bottom: 10px;
	}	
}

/*Desktop View*/

@media (min-width: 1024px){
	
	body {
		max-width: 1200px;
	}
	
}
